<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516808614716-l6o3u6okdfjj0vndhr2urme2u41sb249.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516808614716-l6o3u6okdfjj0vndhr2urme2u41sb249</string>
	<key>API_KEY</key>
	<string>AIzaSyCS5pqtE9CTiNFgskJ0p0wpItGm5p1X988</string>
	<key>GCM_SENDER_ID</key>
	<string>516808614716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>my-diary-50807</string>
	<key>STORAGE_BUCKET</key>
	<string>my-diary-50807.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516808614716:ios:0801c617932b1c03ebb439</string>
</dict>
</plist>